body{
    font-family: system-ui -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', sans-serif;
}




.container{
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
    max-width: 1200px;
}

.right-sidebar{
    position: fixed;
    width: 350px;
}

.fab{
    font-size: 54px;
    color: #1e90ff;
    padding: 10px;
    position: sticky;
    scroll-behavior: smooth;
}

.sidebar-menu{
    position: fixed;
}

.sidebar-menuitem{
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    padding: 10px;
}

.sidebar-menuitem:hover{
    cursor: pointer;
    border-radius: 23px;
    color: #1e90ff;
    background: rgba(29, 161, 242, 0.1);
}

.sidebar-icon{
    height: 26px;
    margin-right: 20px;
}

.sidebar-icon:hover{
    fill: #1e90ff;
}


/* tweet content */

.tweet{
    display: flex;
    border-bottom: 1px solid #e6ecf0;
    margin-bottom: 2px;
    padding:10px 15px;
}

.authorlogo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.tweet-header{
    display: flex;
}

.tweet:hover{
    background:rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.tweetauthorname{
    font-size: 15px;
    font-weight: 700;
    color: #14171a;
    margin-right: 5px;
}

.tweet-author-slug{
    font-size: 15px;
    color: #1e90ff;
}

.tweet-publish-time{
    margin-left: 5px;
    color: #657786;

}

.tweet-image{
    width: 100%;
    border-radius: 15px;
    margin-top: 10px;
    height: 250px;
}


.trends{
    border-radius: 15px;
    background: #f5f8f5;
    margin-bottom: 15px;
}

.trends-block{
    border-bottom: 2px solid #e6ecf0;
    padding: 10px 15px;
}

.trends-block:last-child{
    border-bottom: none;
}

.trends-heading{
    font-size: 19px;
    font-weight: bold;
    color:#14171a ;
}

.trends-heading-meta{
    font-size: 13px;
    font-weight: 300;
    color: #657786;
}

.trend-name{
    font-size: 15px;
    color: #14171a;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
}

.who-to-follow{
    margin-top: 25px;
    border-radius: 15px;
    background: #f5f8f5;
    margin-bottom: 15px;
}
.who-block{
    display: flex;
    padding: 10px;
    
}

.who-heading{
    font-size: 19px;
    font-weight: bold;
    color:#14171a ;
}

.author-name{
    font-size: 15px;
    color: #14171a;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
}

.author-name-slug{
    font-size: 13px;
    font-weight: 300;
    color: #657786;
}

.follow-button{
    margin-left: 115px;
    border: 2px solid #1e90ff;
    color: #1e90ff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    height: 25px;
    width: 55px;
    text-align: center;
    justify-content: center;
}

.follow-button:hover{
    /* border: none; */
    background:rgba(29, 161, 242, 0.1);
    /* color: whitesmoke; */
    cursor: pointer;
}

input{
    width: 300px;
    padding: 16px;
    border-radius: 20px;
    margin: 10px;
    /* box-sizing: border-box; */
}


.foot{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    color: #1e90ff;
    padding: 6px;
    align-items: center;
}

.foot:hover{
    color:red
}


.btn{
    width: 222px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #1e90ff;
    background: #1e90ff;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.sidebar-menuitem-home{
    color: #1e90ff;
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: 700;
    padding: 10px;
}

.sidebar-menuitem-home:hover{
    cursor: pointer;
    border-radius: 23px;
    color: #1e90ff;
    background: rgba(29, 161, 242, 0.1);
}
